@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.a {
  transition: all 0.45s;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-slider-thumb {
  background-color: black;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217 79.2% 51%;
    --primary-foreground: 0 0% 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }
  .dark {
    --background: 217 10% 6%;
    --foreground: 217 5% 90%;
    --card: 217 8% 6%;
    --card-foreground: 217 5% 90%;
    --popover: 217 10% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 79.2% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 240 3.7% 15.9%;
    --input: 217 20% 18%;
    --ring: 217 79.2% 51%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glow-btn:hover {
  box-shadow:
    0 56px 280.627197265625px 0 rgba(255, 255, 255, 0.77),
    0 21px 160.3583984375px 0 rgba(255, 255, 255, 0.66),
    0 12px 93.54239654541016px 0 rgba(255, 255, 255, 0.2),
    0 9px 46.77119827270508px 0 rgba(255, 255, 255, 0.68),
    0 4px 13.363200187683105px 0 #fff,
    0 0 6.681600093841553px 0 rgba(255, 255, 255, 0.18);
}
